body{
	color:#fff;
	background-color:#a70632;
	font-family: 'Roboto', sans-serif;
	position:relative;
}
.information{
	font-family:'Roboto', sans-serif;
	font-size:14px;
	display:inline-block;
	text-align: center;
}

.information p {
	text-align: center;
	display: block;
}

.top-margin-text{
	margin-top:25px;
}
.facebook{
	font-weight:200;
	font-size:16px;
	position:relative;
	text-align:right;

}
.information.facebook.{
	font-weight:100;
	font-size:20px;
	text-align:right;
	position:relative;
}
.information.facebook.team{
	font-weight:400;
	font-size:14px;
	text-align:right;
	position:relative;
}
.sameline{
	display: inline;
    vertical-align: top;
    font-size:24px;
    text-align:center;
}
.countdown{
	font-size:46px;
	display: inline;
    vertical-align: top;
    font-weight:800;
    line-height:0.7;
    text-align:center;
    -webkit-transition: ease-out 1s;
    -moz-transition:  ease-out 1s;
    -o-transition:  ease-out 1s;
}
.countdown:hover{
	color:#ff1454;
	-webkit-transition: ease-out 1s;
    -moz-transition:  ease-out 1s;
    -o-transition:  ease-out 1s;
}

a{
	color:#fff;
	font-weight:400;
	-webkit-transition: ease-out 1s;
    -moz-transition:  ease-out 1s;
    -o-transition:  ease-out 1s;
}
a:hover{
	-webkit-transition: ease-out 1s;
    -moz-transition:  ease-out 1s;
    -o-transition:  ease-out 1s;
	color:#ff1454;
	font-weight:800;
	font-size:21px;
	text-decoration:none;
}